In [ ]:
a='pakistan Zindabad'
print(a.capitalize())#capitalize converts the first letter upper case

In [ ]:
a='pakistan Zindabad'
print(a.upper())#upper string ka method hai string class

In [ ]:
dir(a)

In [ ]:
a.title()#inline action perform hua hai ap ka real data modify nahi hua

In [ ]:
print?

In [ ]:
help(print)

In [ ]:
print??

In [ ]:
#multuline comments

In [ ]:
a=''' xc cxzzc
cxzcz
xcz
cx
czc
z
c




'''

In [ ]:
print(a)
#hard coded text
#string literals hai downward

In [ ]:
#hard coded
abc="""
*****PIAIC*****
SAYLANI WELFARE TRUST
Name:Muhammad Qasim
Father's Name: Muhammad Aslam
"""
print(abc)

In [ ]:
name='M Qasim'
father_name='M Aslam'
roll_no=786
abc="""
*****PIAIC*****
SAYLANI WELFARE TRUST
Name:{}
Father's Name: {}
Roll No:{}
"""
print(abc.format(name,father_name,roll_no))
#format ek function hai jis sai pehly value wo pehly mei jayega phir second value second mei jayega

In [ ]:
name=input('Enter Your Name')
father_name=input('Enter Your Father Name')
roll_no=input('Enter Your Roll_No')
abc=""""
*****PIAIC*****
SAYLANI WELFARE TRUST
Name:{}
Father's Name: {}
Roll No:{}
"""
print(abc.format(name,father_name,roll_no))

In [ ]:
a='Pakistan'
b=' Zindabad'
print(a + b)
#+ is a operator # mechanical tool
#a and b are operand # car is a operand

In [ ]:
a=5
b=7
c=a*b

# OPERATORS

In [ ]:
#mathematics +,-,*,/,%,//
#assign operators =,+=,-=,*=,/=

In [ ]:
# ==,>,<,>=,<=,!=,<> #logical operator

In [ ]:
#// is a float division

In [ ]:
#PEMDAS(Parenthesis,Exponential,Multiplication,Division,Addition,Subtraction)

In [ ]:
12/3

In [ ]:
#automatically data type float hai

In [ ]:
15% 4 #modulas gives remainder

In [ ]:
15/4 #(it is normal division but if we need in integer then we used floar division //)

In [ ]:
#this comes in microsoft exam
5+2*3-7/6+(1*2)

In [ ]:
5//1.0

In [ ]:
#assign operator performs with numbers

In [ ]:
a='Pakistan'
a*2

In [ ]:
a='abc'
a

In [ ]:
z='xyz'
a+=z
a

In [ ]:
a *=2
a

In [ ]:
a=15
a %=4
a

In [ ]:
a **=3
a

In [ ]:
#logical operator

In [ ]:
# ==,>,<,>=,<=,!=,<> #logical operator

In [ ]:
5 == 5

In [ ]:
'5' == 5

In [ ]:
5 == 3

In [ ]:
 5 > 3

In [ ]:
5 < 3

In [ ]:
5 > 5

In [ ]:
5>=5

In [ ]:
5 >5 or 5==5

In [ ]:
5 !=5

In [ ]:
6 < 6

In [ ]:
#logical checking
#not and or is

In [ ]:
#lazmi and
#ya or

In [ ]:
5==5 and 6<=7 and 10>=9

or  , |
and , &

In [ ]:
#or , |
# and , &

In [ ]:
a='pak'
b='istan'
c= 100
a+b+c # jbhi concatenation karaye gai #datatye match hona farz hai

In [ ]:
a='pak'
b='istan'
c= 100
a+b+str(c)

In [ ]:
#string kai sath cocatenation perform hota hai jb + lagatey hai

In [ ]:
a='1'
b='2'
int(a)+int(b)#ek datatype sai dusri datatype mei convert karney ko type casting kehtey hai

In [ ]:
#python online advanced task perform karaye gai
#smarter way to learn python

In [ ]:
#zeno python

In [ ]:
import this

In [ ]:
a='faisal'
a=1
dir(str)

In [ ]:
#variable ka name rakhtey hue kbhi bhi shru number nahi ayega

In [ ]:
#if ,elif ,else

In [ ]:
#if logic:
#    true value
#else:
#    false value

In [ ]:
#if logic1:
#    true value 1
#elif logic2:
#    true value 2
#elif logic3:
#     true value 3
#else:
#     false value

In [ ]:
name=input('Enter your name')
if name.lower() == 'qasim':
    print('Teacher')
else:
    print('Student')

In [ ]:
per=78
if per >=0 and per <33:
    print('Fail')
elif per >=33 and per <40:
    print('C')
elif per >=40 and per <50: 
    print('D')
elif per >=50 and per<60:
    print('C')
elif per >=60 and per<70:
    print('B')
else:
    print('A')

In [ ]:
names=['qasim','asif','kashif']
names[1]='saad'

In [ ]:
names

In [1]:
names=[]
while True:
    a=input('names')
    if a!='x':
        names.append(a)
    else:
        break

namesfaisal
namesdanish
namessaad
namesx

In [2]:
names

['faisal', 'danish', 'saad']